@import '../../node_modules/bootstrap/scss/bootstrap.scss';


.liEl {
    position: relative;
    list-style: none;
}

.deleteBtn {
    color: red;
    position: absolute;
    left: -20px;
    top: 0;
    background: transparent;
    border: none;
    font-size: 20px;
    line-height: 18px;
    display: none;
}

.liEl:hover > .deleteBtn{
    display: inline-block;
}
.radioInput:checked + #myLabel{
    background-color: #1d5358;
    color: #fff;
    box-shadow: none;
}